<footer class="footer">
    <div id="footer-container" class="container-fluid col-md-12">
        <div class="col-sm-12 col-md-4">
            <a id="logo" class="navbar-brand" href="#"><img id="logo-img" class="pull-left" src="images/myers-stevens-toohey-logo-icon.png"><span id="mst-text" class="text-center">myers | stevens | toohey</span></a>
        </div>
        <div class="container-fluid col-sm-12 col-md-8">
            <ul class="footer-menu text-center">
                <li><a href="#" class="footer-menu-item">About Us</a></li>
                <li><a href="#" class="footer-menu-item">Claims</a></li>
                <li><a href="#" class="footer-menu-item">Enrollment Forms</a></li>
                <li><a href="#" class="footer-menu-item">Contact</a></li>
                <li><a href="#" class="footer-menu-item">Careers</a></li>
                <li><a href="#" class="footer-menu-item">Site Map</a></li>
                <li><a href="#" class="footer-menu-item">Terms of Use</a></li>
                <li><a href="#" class="footer-menu-item">Privacy Policy</a></li>
            </ul>
        </div>
        <fieldset class="container-fluid pull-left">
            <legend class="footer-products-legend">Products</legend>
            <div class="container-fluid col-sm-12 col-md-12">
                <table class="text-center">
                    <tr class="footer-products text-center">
                        <th class="text-center">Student Accident Insurance</th>
                        <th class="text-center">Special Risk Group</th>
                        <th class="text-center">Associations</th>
                        <th class="text-center">Employer Employee Group</th>
                    </tr>
                    <tr class="footer-products-cells text-center">
                        <td><a href="#">Accident & Sickness Plan</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                    </tr>
                    <tr class="footer-products-cells text-center">
                        <td><a href="#">Tackle Football</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                    </tr>
                    <tr class="footer-products-cells text-center">
                        <td><a href="#">Full Time 24/7</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                    </tr>
                    <tr class="footer-products-cells text-center">
                        <td><a href="#">School Time</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                    </tr>
                    <tr class="footer-products-cells text-center">
                        <td><a href="#">Dental</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                    </tr>
                    <tr class="footer-products-cells text-center">
                        <td><a href="#">Pharmacy Card</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                        <td><a href="#">Placeholder</a></td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <h5 id="footer-info" class="text-center">Myers-Stevens & Toohey & Co. Inc.
            26101 Marguerite Parkway, Mission Viejo, CA 92692
            800-827-4695 | CA License #0425842
            info@myers-stevens.com</h5>
    </div>
</footer>